/*Стили controls*/
.controls {
	padding: 10px 20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
@media (max-width: 320px) {
	.controls {
		align-items: center;
	}
}
@media (max-width: 1024px) {
	.controls {
		order: 4;
	}
}

