.searchBlock {	
	padding: 14px 20px;
	background-color: var(--white);
	border-radius: 0 0 7px 7px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	margin: 0 0 38px;
}
@media (max-width: 320px) {
	.searchBlock {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;		
	}
}
@media all and (min-width: 1024px) {
	.searchBlock {
		padding: 0;
		margin: 0 0 0 auto;
		background-color: transparent;
		border-radius: 0;
		box-shadow: none;
		order: 3;
	}
}

.searchForm {
	width: 192px;
	height: 30px;
	border-radius: 30px;
	background-color: var(--greyF4);
}

.messageInfo {
	display: flex;
	flex-flow: row nowrap;
}
.countMessage {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 13px;
	height: 13px;
	margin-right: 7px;
	border-radius: 50%;
	background-color: var(--orange);
}
.countInformation {
	color: var(--white);
	font-size: 10px;
	font-weight: 500;
}