.card {
	background-color: var(--white);
	border-radius: 7px;
	display: flex;
	flex-flow: row nowrap;
	position: relative;
}
@media (max-width: 320px) {
	.card {
		flex-flow: column nowrap;
		margin-bottom: 26px;
	}
}
@media (max-width: 1024px) {
	.card {
		padding: 20px 40px;
	}
}
@media all and (min-width: 1540px) {
	.card {
		padding: 0 60px;
	}
}

.card > * {
	flex: 1 1 100%;
}





